{% extends 'layout.html' %}

{% block content %}
<h2 class="page-head">Plagiarism Detection</h2>

        <video src="../static/animation1.mp4" autoplay muted loop class="head-animation">
            Your Browser does not support the video tag.
        </video>
        <p>
            Quick and easy plagiarism detection for a wide range of programming languages.
        </p>
        <br>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('extract') }}" class="file_form">
            <input type="file" name="file" id="file" accept=".zip" class="form-control" placeholder="upload a file (*.zip)" required>
            <input type="text" name="analysis_name" id="analysis_name" class="form-control" placeholder="Analysis Name" required>

            <br>
            <label for="prog_lang">Programming Language :</label>
            <select class="form-select" id="prog_lang" name="prog_lang" required>
                <option value="0">Automatic</option>
                <option value="1">C/C++</option>
                <option value="2">JavaScript</option>
                <option value="3">ASM (x86)</option>
              </select>
    
          
          <input type="submit" name="submit_file" id="submit_file" class="btn btn-primary" value="Analyze">
        </form>
{% endblock content %}