{% extends 'layout.html' %}
  
  {% block content %}


    <h2 class="page-head">Results</h2>

    <img src="../static/analysis.jpg" alt="analysis image" class="head-animation" style="max-width: 300px; max-height: 300px;">


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/list">Detailed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/heatmap">Heat Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cluster">Cluster</a>
        </li>
    </ul>

    <div class="result-content">
      <style>
        .result-display{
          width: 95vw;
          min-width: 1000px;
          overflow: scroll;
        }

      </style>
      <br>
      <img src="../static/similarityheatmap.png" alt="Heat Map" class="result-display">
    </div>

 {% endblock content %}
